version: '3'
services:
  watch:
    image: covidtop/nodejs-dev
    volumes:
      - ../..:/usr/src/app
    command: npm run watch
  chart:
    image: ianw/quickchart
    environment:
      DISABLE_TELEMETRY: DISABLE_TELEMETRY
  api:
    depends_on:
      - watch
      - chart
    image: covidtop/nodejs-dev
    volumes:
      - ../..:/usr/src/app
    command: npm run start-dev-api
  nginx:
    depends_on:
      - api
    image: nginx:1.18.0-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../../resources/static:/home/static
      - ../../data/development:/home/data
    ports:
      - 4000:4000
