version: '3'
services:
  chart:
    image: ianw/quickchart
    environment:
      DISABLE_TELEMETRY: DISABLE_TELEMETRY
  api:
    depends_on:
      - chart
    image: covidtop/nodejs-production
    volumes:
      - ../..:/usr/src/app
    command: npm run start-production-api
  nginx:
    depends_on:
      - api
    image: nginx:1.18.0-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ../../resources/static:/home/static
      - ../../data/production:/home/data
    ports:
      - 80:80
